* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #A09494;
    font-family: 'Nunito', sans-serif;
}

p,
a {
    color: #C4C4C4;
    font-family: 'Poppins', sans-serif;
}


/*----LOADING--------*/

#loader {
    min-height: 100vh;
    background-color: lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#loader img {
    height: 23rem;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* START OF MENU */

a.navbar-brand img {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.mobile-nav {
    background: #f1f1f1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(100%);
    z-index: 999;
    transition: transform .3s ease-in .7s;
    display: none;
}

.mobile-open .mobile-nav {
    transform: translateY(0);
    transition: transform .3s ease-out;
}

.mobile-open .mobile-nav1 {
    transform: translateY(0);
    transition: transform .3s ease-out;
}

.mobile-nav .links {
    width: 100%;
    height: 100%;
    text-align: center;
}

.mobile-nav .links a {
    position: absolute;
    left: 50%;
    color: #A09494;
    font-size: 1.5rem;
    text-decoration: none;
}

.mobile-nav .links a:nth-child(1) {
    transform: translate(-50%, 30vh);
}

.mobile-nav .links a:nth-child(2) {
    transform: translate(-50%, 40vh);
}

.mobile-nav .links a:nth-child(3) {
    transform: translate(-50%, 50vh);
}

.mobile-nav .links a:nth-child(4) {
    transform: translate(-50%, 60vh);
}

nav {
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 10px;
    border-bottom: solid 1px #CCC;
    z-index: 9999;
    box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 30%);
}

nav .container {
    display: flex;
    position: relative;
}

nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-transform: lowercase;
}

nav .logo span:nth-child(1) {
    color: var(--teal-1);
}

nav .logo span:nth-child(2) {
    color: var(--blue-1);
}

nav .logo span:nth-child(3) {
    color: var(--indigo-1);
}

nav .logo span:nth-child(4) {
    color: var(--pink-1);
}

nav .burger {
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
    height: 30px;
    width: 35px;
    cursor: pointer;
    display: none;
}

nav .burger .menu,
nav .burger .close {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

nav .burger .menu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .burger .close {
    z-index: 1;
}

nav .burger .line {
    height: 3px;
    transform-origin: revert;
    background-color: #A09494 !important;
}

nav .burger .close .line {
    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all .4s ease-in;
}

.mobile-open nav .burger .close .line:first-child {
    transform: rotate(225deg);
    opacity: 1;
    transition: all .6s ease-in 1s;
}

.mobile-open nav .burger .close .line:last-child {
    transform: rotate(-225deg);
    opacity: 1;
    transition: all .6s ease-in 1s;
}

nav .burger .menu .line:nth-child(1) {
    background: var(--teal-1);
    animation: 1s ease-out backwards returnLine1;
}

.mobile-open .burger .menu .line:nth-child(1) {
    animation: .8s ease-in forwards moveLine1;
}

nav .burger .menu .line:nth-child(2) {
    background: var(--blue-1);
    animation: 1s ease-out .2s backwards returnLine2;
}

.mobile-open .burger .menu .line:nth-child(2) {
    animation: .8s ease-in .15s forwards moveLine2;
}

nav .burger .menu .line:nth-child(3) {
    background: var(--indigo-1);
    animation: 1s ease-out .4s backwards returnLine3;
}

.mobile-open .burger .menu .line:nth-child(3) {
    animation: .8s ease-in .3s forwards moveLine3;
}

nav .burger .menu .line:nth-child(4) {
    background: var(--pink-1);
    animation: 1s ease-out .6s backwards returnLine4;
}

.mobile-open .burger .menu .line:nth-child(4) {
    animation: .8s ease-in .45s forwards moveLine4;
}

.no-animation nav .burger .line {
    animation: none !important;
}

nav .links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.link {
    margin-left: 25px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.link a {
    display: block;
    font-size: 1.2rem;
    transition: color .25s ease-out;
}

.link .underline {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 5px;
}

.link .underline .part {
    height: 4px;
    flex: 0 0 25%;
    transform: translateY(20px);
    opacity: 0;
    transition: all .2s ease-out;
}

.underline .part:nth-child(1) {
    transition-delay: 0s;
}

.underline .part:nth-child(2) {
    transition-delay: .075s;
}

.underline .part:nth-child(3) {
    transition-delay: .15s;
}

.underline .part:nth-child(4) {
    transition-delay: .225s;
}

.link.teal .part:nth-child(1) {
    background: var(--teal-1);
}

.link.teal .part:nth-child(2) {
    background: linear-gradient(90deg, var(--teal-1), var(--teal-2));
}

.link.teal .part:nth-child(3) {
    background: linear-gradient(90deg, var(--teal-2), var(--teal-3));
}

.link.teal .part:nth-child(4) {
    background: linear-gradient(90deg, var(--teal-3), var(--teal-4));
}

.link.blue .part:nth-child(1) {
    background: var(--blue-1);
}

.link.blue .part:nth-child(2) {
    background: linear-gradient(90deg, var(--blue-1), var(--blue-2));
}

.link.blue .part:nth-child(3) {
    background: linear-gradient(90deg, var(--blue-2), var(--blue-3));
}

.link.blue .part:nth-child(4) {
    background: linear-gradient(90deg, var(--blue-3), var(--blue-4));
}

.link.indigo .part:nth-child(1) {
    background: var(--indigo-1);
}

.link.indigo .part:nth-child(2) {
    background: linear-gradient(90deg, var(--indigo-1), var(--indigo-2));
}

.link.indigo .part:nth-child(3) {
    background: linear-gradient(90deg, var(--indigo-2), var(--indigo-3));
}

.link.indigo .part:nth-child(4) {
    background: linear-gradient(90deg, var(--indigo-3), var(--indigo-4));
}

.link.pink .part:nth-child(1) {
    background: var(--pink-1);
}

.link.pink .part:nth-child(2) {
    background: linear-gradient(90deg, var(--pink-1), var(--pink-2));
}

.link.pink .part:nth-child(3) {
    background: linear-gradient(90deg, var(--pink-2), var(--pink-3));
}

.link.pink .part:nth-child(4) {
    background: linear-gradient(90deg, var(--pink-3), var(--pink-4));
}

.link.teal a:hover {
    color: var(--teal-1);
}

.link.blue a:hover {
    color: var(--blue-1);
}

.link.indigo a:hover {
    color: var(--indigo-1);
}

.link.pink a:hover {
    color: var(--pink-1);
}

.link a:hover+.underline .part {
    opacity: 1;
    transform: translateY(0);
}

section {
    padding: 50px 1rem;
}

section.main-content {
    padding-top: 140px;
    background: #FFF;
    min-height: 200vh;
}

@media (max-width: 768px) {
    .mobile-nav {
        display: initial;
    }
    nav {
        padding: 15px;
    }
    nav .burger {
        display: flex;
    }
    nav .links {
        display: none;
    }
}

@keyframes moveLine1 {
    5% {
        transform: translate(0, -3px) rotate(0deg);
    }
    60% {
        transform: translate(-4vw, 27vh) rotate(180deg);
    }
    100% {
        transform: translate(calc(1rem - 50vw), calc(30vh + 4px)) rotate(180deg);
        background: var(--teal-3);
    }
}

@keyframes moveLine2 {
    5% {
        transform: translate(0, -3px) rotate(0deg);
    }
    60% {
        transform: translate(-4vw, 37vh) rotate(180deg);
    }
    100% {
        transform: translate(calc(1rem - 50vw), calc(40vh - 4px)) rotate(180deg);
        background: var(--blue-3);
    }
}

@keyframes moveLine3 {
    5% {
        transform: translate(0, -3px) rotate(0deg);
    }
    60% {
        transform: translate(-4vw, 47vh) rotate(180deg);
    }
    100% {
        transform: translate(calc(1rem - 50vw), calc(50vh - 12px)) rotate(180deg);
        background: var(--indigo-3);
    }
}

@keyframes moveLine4 {
    5% {
        transform: translate(0, -3px) rotate(0deg);
    }
    60% {
        transform: translate(-4vw, 57vh) rotate(180deg);
    }
    100% {
        transform: translate(calc(1rem - 50vw), calc(60vh - 20px)) rotate(180deg);
        background: var(--pink-3);
    }
}

@keyframes returnLine1 {
    0% {
        transform: translate(calc(3.2rem - 50vw), calc(30vh + 4px));
        background: var(--teal-3);
    }
    5% {
        transform: translate(calc(3rem - 50vw), calc(30vh + 4px));
    }
    40% {
        transform: translate(20vw, calc(30vh + 4px));
    }
    60% {
        transform: translate(20vw, 0);
        background: var(--teal-1);
    }
}

@keyframes returnLine2 {
    0% {
        transform: translate(calc(3.2rem - 50vw), calc(40vh - 4px));
        background: var(--blue-3);
    }
    5% {
        transform: translate(calc(3rem - 50vw), calc(40vh - 4px));
    }
    40% {
        transform: translate(20vw, calc(40vh - 4px));
    }
    60% {
        transform: translate(20vw, 0);
        background: var(--blue-1);
    }
}

@keyframes returnLine3 {
    0% {
        transform: translate(calc(3.2rem - 50vw), calc(50vh - 12px));
        background: var(--indigo-3);
    }
    5% {
        transform: translate(calc(3rem - 50vw), calc(50vh - 12px));
    }
    40% {
        transform: translate(20vw, calc(50vh - 12px));
    }
    60% {
        transform: translate(20vw, 0);
        background: var(--indigo-1);
    }
}

@keyframes returnLine4 {
    0% {
        transform: translate(calc(3.2rem - 50vw), calc(60vh - 20px));
        background: var(--pink-3);
    }
    5% {
        transform: translate(calc(3rem - 50vw), calc(60vh - 20px));
    }
    40% {
        transform: translate(20vw, calc(60vh - 20px));
    }
    60% {
        transform: translate(20vw, 0);
        background: var(--pink-1);
    }
}


/* END OF MENu */


/* START OF BANNER */

.banner-main-container {
    padding-top: 50px;
    background-image: url('./../images/banner.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.container.banner-container>h1 {
    font-size: 80px;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgb(65 0 0 / 17%);
    letter-spacing: 1px;
}

.container.banner-container h3 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 50px;
    font-weight: 400;
}

#header .button-stylings {
    font-size: 25px;
    background: #C4C4C4;
    color: #fff;
    padding: 20px 40px;
    border-radius: 100px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: .5s;
}

#header .button-stylings:hover {
    background-color: transparent;
    border: 2px solid #C4C4C4;
    text-decoration: none;
    color: #C4C4C4;
    transition: .5s;
}


/* END OF BANNER */


/* START OF ABOUT SECTION */

#about {
    min-height: 50vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.about-img {
    height: 230px;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    border-radius: 100%;
    transition: .5s;
}

.about-img:hover {
    transform: scale(1.1) !important;
    transition: .5s;
}

#about p {
    line-height: 1.6;
}

.more-content {
    display: none;
}

.awards img {
    height: 250px;
    width: 100%;
    object-fit: contain;
    box-shadow: 0px 6px 25px 0px rgb(0 0 0 / 9%);
    margin: 0 20px 0 0;
}


/* END OF ABOUT SECTION */


/* START OF AWARDS SECTION */

#awards {
    min-height: 50vh;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}


/* END OF AWARDS SECTION */


/* START OF SKILLS SECTION */

#skills {
    min-height: 50vh;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

#skills .fab,
.fas {
    font-size: 60px;
    color: #A09494;
}

#skills .row {
    width: 100%;
}


/* END OF SKILLS SECTION */


/* START OF TASK */

#task {
    min-height: 50vh;
    overflow-x: hidden;
}

#task img {
    height: 7rem;
    width: 7rem;
    object-fit: contain;
    padding: 15px;
}

.image-container {
    margin: 30px 0;
}


/* END OF TASK */


/* START OF PROJECT */

#project {
    min-height: 100vh;
    overflow-x: hidden;
}

.project-img01 {
    height: 300px;
    width: 500px;
    background-image: url('../images/todo-list.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img1 {
    height: 300px;
    width: 500px;
    background-image: url('../images/karaok.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: background 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img2 {
    height: 300px;
    width: 500px;
    background-image: url('../images/sports-e.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: background 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img3 {
    height: 300px;
    width: 500px;
    background-image: url('../images/gameitme.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: background 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img4 {
    height: 300px;
    width: 500px;
    background-image: url('../images/sisters.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: background 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img5 {
    height: 300px;
    width: 500px;
    background-image: url('../images/car-rent.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: background 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img6 {
    height: 300px;
    width: 500px;
    background-image: url('../images/todo-list.PNG');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: background 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img7 {
    height: 300px;
    width: 500px;
    background-image: url('../images/wincorp.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: background 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img8 {
    height: 300px;
    width: 500px;
    background-image: url('../images/gtx.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img9 {
    height: 300px;
    width: 500px;
    background-image: url('../images/abubot.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img10 {
    height: 300px;
    width: 500px;
    background-image: url('../images/phoenix.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img11 {
    height: 300px;
    width: 500px;
    background-image: url('../images/fittolive.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img12 {
    height: 300px;
    width: 500px;
    background-image: url('../images/ufs.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img13 {
    height: 300px;
    width: 500px;
    background-image: url('../images/idc.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img14 {
    height: 300px;
    width: 500px;
    background-image: url('../images/fp.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img15 {
    height: 300px;
    width: 500px;
    background-image: url('../images/invest.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img16 {
    height: 300px;
    width: 500px;
    background-image: url('../images/raa.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img17 {
    height: 300px;
    width: 500px;
    background-image: url('../images/vbcmade.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img18 {
    height: 300px;
    width: 500px;
    background-image: url('../images/phivolcs.png');
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 7s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.project-img:hover {
    background-position-y: 100%;
}

#project .button-stylings {
    font-size: 16px;
    background: #C4C4C4;
    color: #fff;
    padding: 10px 40px;
    border-radius: 100px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: .5s;
}

#project .button-stylings:hover {
    background-color: transparent;
    border: 2px solid #C4C4C4;
    text-decoration: none;
    color: #C4C4C4;
    transition: .5s;
}


/* END OF PROJECT */


/* START OF CONTACT */

#contact {
    overflow: hidden;
    min-height: 50vh;
}

#contact .button-stylings {
    font-size: 16px;
    background: #C4C4C4;
    color: #fff;
    padding: 10px 40px;
    border-radius: 100px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: .5s;
}

#contact .button-stylings:hover {
    background-color: transparent;
    border: 2px solid #C4C4C4;
    text-decoration: none;
    color: #C4C4C4;
    transition: .5s;
}

#contact .fas {
    font-size: 15px;
    color: #A09494;
    margin-right: 10px;
}

#contact img {
    height: 200px;
    width: auto;
}


/* END OF CONTACT */


/* START OF FOOTER */

.footer .fas {
    font-size: 30px;
}


/* END OF FOOTER */


/* ----------------- START OF MEDIA QUERY ------------------ */

@media (max-width: 991px) {
    .project-img {
        width: 100%;
        margin: 50px 0;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 55px !important;
    }
    h2 {
        font-size: 32px !important;
    }
    /* START OF MENU */
    nav .container {
        padding-left: 0 !important;
        padding-right: 0;
    }
    /* END OF MENU */
    /* START OF BANNER */
    .container.banner-container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .container.banner-container a {
        font-size: 20px;
        background: #C4C4C4;
        color: #fff;
        padding: 15px 20px;
        border-radius: 100px;
        border: 2px solid transparent;
        text-decoration: none;
        transition: .5s;
    }
    /* END OF BANNER */
    /* START OF ABOUT SECTION */
    #about {
        min-height: 100vh;
        overflow-x: hidden;
        display: flex;
        align-items: center;
    }
    /* END OF ABOUT SECTION */
}


/* ------------------ END OF MEDIA QUERY ------------------ */